.title{
    background-color: darkgray;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 5px 3px gray;
}

body:hover{
    background-color: white;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
#stats{
    background-color: gainsboro;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 3px 5px 3px gray;
}

h1{
    font-family: 'Single Day', cursive;
}

#mostrar_doodle{
    background-color: grey;
    float: right;
    margin-top: -42px;
}

canvas{
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 3px 6px 5px gray;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow:3px 6px 5px gray;}
    to{box-shadow:3px 6px 5px darkgray;}
}

@keyframes color{
    from{background-color:white}
    to{background-color:gray}
}

